* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #00cec9,
    #ff7675,
    #fab1a0,
    #6c5ce7
  );
}

img {
  height: 1.3em;
 vertical-align: sub;
}
.container {
  display: block;
  width: 9em;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 5em;
  letter-spacing: 0.1em;
  text-align: center;
 
}

.content {
  height: 150px;
  line-height: 150px;
  transform: scale(1);
  font-size: 0.4em;
  position: relative;
  transform: scale(0);
  z-index: 5;
  transition: .8s;
}


.text-top {
  height: 150px;
  transform: translatey(100%);
   clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
transition:.7s;
}
.text-bottom {
  height: 150px;
  transform: translatey(-100%);
clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
transition:.7s;
  
}
.container:hover .text-top {
  transform: translatey(70%);
}

.container:hover .text-bottom {
  transform: translatey(-70%);
}
.container:hover .content{
    transform: scale(1);
}